.App {
  width: 512px;
  margin: 32px auto 0;
  border-radius: 5px;
  overflow: hidden;
}

.App-title {
  background-color: #17194c;
  color: white;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-content {
  background-color: #fff;
}
